# Zsh compiled script + zrecompile backup
*.zwc
*.zwc.old

# Zsh completion-optimization dumpfile
*zcompdump*

._zinit
.zinit_lstupd

# zdharma/zshelldoc tool's files
zsdoc/data

.venv

# Zunit tests' output
/tests/_output/*
!/tests/_output/.gitkeep
.zunit.yml


.DS_Store
helper/*
xy
